<!-- Formulario -->
<form method="POST" 
      action="{{ url_for('measurement.create_measurement') }}"
      hx-post="{{ url_for('measurement.create_measurement') }}"
      hx-target="#measurement-container"
      hx-swap="innerHTML">
    <input type="hidden" name="meascat_id" value="{{ meascat_id }}">
    <input type="number" name="val" step="0.01" placeholder="Value ({{ unit }})" required>
    <input type="submit" value="Add">
</form>

<!-- Lista -->
<h3>History</h3>
{% if measurements and measurements|length > 0 %}
    {% for m in measurements %}
    <div>
        <span>{{ m.val }} {{ unit }}</span>
        <span>{{ m.date }}</span>
                <!-- Botón delete measurement -->
        <form method="POST" 
            action="{{ url_for('measurement.delete_measurement') }}" 
            style="display: inline;"
            hx-post="{{ url_for('measurement.delete_measurement') }}"
            hx-target="#measurement-container"
            hx-swap="innerHTML"
            hx-trigger="submit"
            onsubmit="return confirm('¿Estás seguro?')">
            <input type="hidden" name="meascat_id" value="{{ meascat_id }}">
            <input type="hidden" name="meas_id" value="{{ m.idMeas }}">
            <button type="submit" style="padding: 2px 6px;">🗑️</button>
        </form>
    </div>
    {% endfor %}
{% else %}
    <p>No measurements yet</p>
{% endif %}