{% extends "base.html" %}

{% block title %}Login - GG {% endblock %}

{% block content %}
    <h2>Login</h2>
    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    
    <form method="POST">
        <div>
            <label>User:</label>
            <input type="text" name="username" required>
        </div>
        <br>
        <div>
            <label>Password:</label>
            <input type="password" name="password" required>
        </div>
        <br>
        <button type="submit">Login</button>
    </form>
    
    <p>If you don`t have an account <a href="{{ url_for('auth.signup') }}">Signup here</a></p>
{% endblock %}