{% extends "base.html" %}

{% block title %}Signup - GG {% endblock %}

{% block content %}
    <h2>Signup</h2>
      
    <form method="POST">
        <div>
            <label>User:</label>
            <input type="text" name="username" required>
        </div>
        <br>
        <div>
            <label>Password:</label>
            <input type="password" name="password" required>
        </div>
        <br>
        <button type="submit">Signup</button>
    </form>
    
    <p>Do you have an account already? <a href="{{ url_for('auth.login') }}">Login here</a></p>
{% endblock %}